.card{
    min-width: 200px;
    min-height: 300px;
    max-height: 325px;
    height: auto;
}

.card-photo{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image{
    margin-top: 0;
    width: 100%;
    height: 100%;
}


.card-details{
    margin: 2px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.card-title{
    padding: 5px;
    margin: 3px;
    font-weight: 300;
    font-size: 0.8em;
}

.card-price{
    padding: 5px;
    margin: 2px;
    font-weight: bold;
    font-size: 0.9rem;
}